<section class="container criar-pensamentos ff-inter">
    <header class="header">
        <h2>Adicione um <br>pensamento novo:</h2>
    </header>
    <form>
        <label for="pensamento">Pensamento</label>
        <input 
        type="textarea"
        class="input"
        id="pensamento"
        name="pensamento"
        placeholder="Digite o pensamento"
        >
        <label for="autoria">Autoria ou fonte</label>
        <input
        type="text"
        class="input"
        id="autoria"
        name="autoria"
        placeholder="Digite a autoria ou fonte"
        >
        
    </form>
</section>