body {
    background: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
}
#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}

#mission {
    font-size: 20px;
}

.itens {
    font-style: italic;
}